:root {
  --color-bg: #38273f;
  --color-bg-bright: #543c87;

  --color-modal-shadow: #37283956;

  --color-text-white: #b2a0d0;
  --color-text-dim: #9078b8;
  --color-text-title: #ba91e6;
  --color-text-accent: #cfd1b5;
  --color-text-link: #79b1ff;
  --color-text-card: #F4E8BA;

  --color-bg-menu: rgba(0, 0, 0, 0.347);
  --color-bg-menu-sticky: rgba(22, 18, 16, 0.536);

  --font-legend: 0.75em;
  --font-footer: 0.8em;
  --font-title: 1.8em;
  --font-description: 1.0em;

  --card-opacity: 0.7;
  scroll-behavior: smooth;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, var(--color-bg) 0%, var(--color-bg-bright) 100%);
}

body {
  font-family: "DM Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-description);
  color: var(--color-text-white);
  background-color: var(--color-bg);
  background-attachment: fixed;
  text-align: -webkit-center;
  text-align: -moz-center;
  margin: 0;
  padding-top: 3.5em;
}

.imageSelf {
  width: 80%;
  object-fit: contain;
  margin-top: -6%;
  margin-right: -15%;
}

.imageStandard {
  width: 100%;
  border-radius: 10px;
  border-style: transparent;
  box-shadow: 0px 2px 24px var(--color-modal-shadow);
  object-fit: cover;
}

.imageContain {
  max-width: 45%;
}

.card {
  position: relative;
  font-size: var(--font-card);
  height: auto;
  width: auto;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.cardBG {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardImg {
  position: absolute;
  width: 60%;
  left: 0;
  right: 0;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  opacity: var(--card-opacity);
}

.card-wrapper {
  max-width: 760px;
  height: 330px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.bg-wrapper {
  max-width: 920px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.bg-wrapper-reverse {
  max-width: 920px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.0em 0.5em;
  background-color: var(--color-bg-menu);
  transition: 0.3s all ease;
}

.header.active {
  padding: 0.5em 0.5em;
  font-weight: 500;
  background-color: var(--color-bg-menu-sticky);
  transition: 0.3s all ease;
  z-index: 50;
}

.link-wrapper {
  align-items: center;
  max-width: 760px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 2em;
}

.title {
  font-family: "New Rocker", system-ui;
  text-align: center;
  font-size: var(--font-title);
  color: var(--color-text-title);
  font-weight: 500;
}

.titleBig {
  font-family: "New Rocker", system-ui;
  margin-bottom: 1.0em;
  text-align: center;
  font-size: var(--font-title-large);
  color: var(--color-text-title);
  font-weight: 500;
}

.description {
  line-height: 1.5em;
  text-align: left;
  font-size: var(--font-description);
}

.quote {
  line-height: 1.5em;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  font-size: var(--font-description);
}

.dataRow {
  line-height: 1.5em;
  text-align: left;
  font-size: var(--font-description);
  display: flex;
  flex-direction: row;
}

.dataRowLarge {
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
}

.dataRowTitle {
  margin-bottom: 0.2em;
  text-align: left;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
}

.legendText {
  color: var(--color-text-dim);
  font-size: var(--font-legend);
  font-style: italic;
  font-weight: 500;
}

.accentText {
  color: var(--color-text-accent);
  font-weight: 500;
}

.accentTextFlex {
  color: var(--color-text-accent);
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.3em;
  flex: 1;
}

.accentTextFixed {
  color: var(--color-text-accent);
  display: inline-block;
  font-weight: 500;
  min-width: 10em;
}

.dimText {
  color: var(--color-text-dim);
  font-weight: 500;
}

.dimTextFixed {
  color: var(--color-text-dim);
  font-weight: 500;
  display: inline-block;
  min-width: 10em;
}

.linkText {
  color: var(--color-text-link);
  text-decoration: none;
  flex: 1;
}

.linkTextHighlight {
  color: var(--color-text-accent);
  font-weight: 500;
  text-decoration: none;
  cursor: default;
  flex: 1;
}

.textbox {
  max-width: 440px;
}

.textboxLarge {
  max-width: 100%;
}



.modalTriggerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.scrollToTop {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 30px;
  z-index: 98;
  border: none;
  outline: none;
  cursor: default;
  opacity: 0;
  transition: 0.6s all ease;
}

.scrollToTop.active {
  cursor: pointer;
  opacity: 0.5;
}

.scrollToTop.active:hover {
  opacity: 1;
}

.footer {
  text-align: center;
  font-size: var(--font-footer);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.card:hover {
  opacity: 1;
  transform: scale(1.05) rotate(1deg);
  --card-opacity: 1;
}

@media only screen and (max-width: 1000px) {

  .bg-wrapper,
  .bg-wrapper-reverse {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card-wrapper {
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .imageSelf {
    width: 100%;
    object-fit: cover;
    margin: 0;
  }

  .imageContain {
    max-width: 100%;
  }

  .modalTriggerContainer {
    padding: 40px;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .textbox,
  .textboxLarge {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}